.footer-container {
    position: relative;
    display: flex;
}

.footer-container::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0; left: 0;
    width: 100%;
    background: radial-gradient(111% 111% at 74.29% -11%, #A93300 0%, #005570 100%), linear-gradient(127.43deg, #00D5C8 0%, #2200AA 100%);
    background-blend-mode: difference, normal;
    filter: brightness(0.3);
}

.footer-container-inside {
    padding: 15px 15px 15px 15px;
    background-color: transparent;
    position: relative;
}

.footer-dimensions {
    height: 150px;
    width: 100% !important;
}

.footer-dimensions::before {
    height: 150px;
}

.footer-logo-mobile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-logo-tablet-container {
    display: none;
}

.footer-menu-list {
    list-style-type: none;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 45px);

    :nth-child(2) {
        margin-left: 22px;
    }
}

.facebook-icon {
    margin-left: 22px;
}

.footer-menu {
    height: calc(100% - 45px);
}

.footer-row {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 768px) {

    .footer-dimensions {
        height: 140px;
    }

    .footer-dimensions::before {
        height: 140px;
    }

    .footer-row {
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
        align-content: center;
    }

    .footer-menu-list {
        display: flex;
        margin-bottom: 0;
    }

    .footer-logo-tablet-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo-mobile-container {
        display: none;
    }


    .footer-social-media {
        place-self: center;
        margin-bottom: 0;
        justify-content: flex-end;
    }

    .icon-style {
        align-self: center;
    }

    .footer-menu-item {
        margin-right: 60px;
        margin-bottom: 0;
    }

    .message-us-part {
        margin-bottom: 80px;
    }
}


@media (min-width: 992px) {

    .footer-dimensions {
        height: 140px;
    }

    .footer-dimensions::before {
        height: 140px;
    }

    .footer-logo-tablet-container {
        display: none;
    }

    .footer-logo-mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-menu-list {
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .footer-logo-mobile-container {
        justify-content: flex-start;
    }
}