.section-dimensions {
    height: 120vh;

    &>.row {
        z-index: 5;
    }
}

.section-dimensions::before {
    height: 120vh;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
    z-index: 5;
}
