.services-we-provide-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.swp-top-text {
    place-content: center;
}

.service-header-title {
    margin-bottom: 90px;
}

.service-header {
    margin-bottom: 40px;
}

.second-row-services {
    margin-top: 50px;
}