.brand-container {
    display: flex;
    padding: 0px 20px 20px 20px;
    justify-content: space-between;
}

.navbar-item {
    padding: 20px 20px 20px 20px;
    display: flex;
}

.top-menu-mobile {
    margin-left: 10px;
}

.desktop-menu {
    display: none;
}

.desktop-menu-list {
    display: flex;
}

.desktop-menu-item {
    display: block;
    margin-right: 40px;
}

.desktop-menu-item-2 {
    display: block;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .top-menu-mobile {
        display: none;
    }

    .brand-container {
        flex-direction: row-reverse;
    }

    .desktop-menu {
        display: flex;
    }

}
