@import "../../../styles/colors.scss";

.question-section::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    background-image: url("../../../assets/images/svg/questions-images/questions_bkg_mobile.svg");
    filter: opacity(0.1);
    object-fit: fill;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 720px) {
    .question-section::before {
        height: 97%;
        background-image: url("../../../assets/images/svg/questions-images/questions_bkg_tablet.svg");
    }
}

@media (min-width: 992px) {
    .question-section::before {
        height: 91%;
        background-image: url("../../../assets/images/svg/questions-images/questions_bkg_desktop.svg");
    }
}


.question-section {
    height: 100%;
    position: relative;

    textarea {
        overflow: hidden;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        line-height:130px;
        overflow-y: hidden;
    }
    ::-webkit-input-placeholder { /* Webkit */
        line-height:130px;
        overflow-y: hidden;
    }
    :-ms-input-placeholder { /* IE */
        line-height:130px;
        overflow-y: hidden;
    }

    .question-section-inside {
        /* This will make it stack on top of the ::before */
        padding-top: 25px;
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .MuiFilledInput-root {
        background: transparent !important;
    }

    .MuiFilledInput-underline:before {
        border-bottom: 1px solid $blue2;
    }

    .MuiFilledInput-underline:hover:before {
        border-bottom: 1px solid $blue2;
    }

    .MuiFilledInput-underline:after {
        border-bottom: 2px solid $blue;
    }

    .questions-header {
        margin-top: 20px;
    }

    .message-us-part {
        margin-top: 50px;
    }

    .input-form {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom-width: 2px;
        border-bottom-color: $blue2;
        outline: 0;
        margin-top: 10px;
        width: 100%;
    }

    .send-btn-margins {
        margin-top: 10px;
    }

    .contact-form {
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .text-field {
        margin-bottom: 50px;
    }

    .msg-text {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .questions-header {
        margin-bottom: 20px;
    }

    @media (min-width: 720px) {
        height: 100vh;

        .our-benefits-mobile {
            display: none;
        }

        .benefits-tablet {
            display: block;
        }

        .message-us-part {
            margin-top: 30px;
        }

    }

    @media (min-width: 992px) {
        .benefits-row {
            align-items: center;
            margin-top: 100px;
        }
        .benefits-second {
            margin-top: 0
        }

        .benefits-third {
            margin-top: 0
        }

        .questions-header {
            font-size: 36px;
            text-align: left;
        }
    }

}
