.btn-big {
    background-color: #FFCD38;
    width: 280px;
    height: 50px;
}


@media (min-width: 360px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .btn-big {
        width: 220px;
        height: 60px;
    }
}

@media (min-width: 992px) {
    .btn-big {
        width: 270px;
        height: 65px;
    }
}


@media (min-width: 1200px) {

}