@import "../../styles/colors.scss";

.btn-big {
    background-color: $yellow !important;
    color: black !important;
    width: 280px;
    height: 50px;
    outline: 0;
}

.send-btn {
    background-color: $yellow;
    width: 280px;
    height: 50px;
    outline: 0;
}


@media (min-width: 768px) {
    .btn-big {
        width: 220px;
        height: 60px;
    }

    .send-btn {
        width: 220px;
        height: 60px;
    }
}

@media (min-width: 992px) {
    .btn-big {
        width: 270px;
        height: 65px;
    }

    .send-btn {
        width: 270px;
        height: 65px;
    }
}
