@import "../colors.scss";

h1 {
    color: #FFFFFF;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 42px;
}

h3 {
    font-family: Montserrat, serif;
    font-size: 24px;
}

h4 {
    font-family: Montserrat, serif;
    font-size: 20px;
}

h4 {
    font-family: Montserrat, serif;
    font-size: 18px;
}


p {
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400;
}

li {
    color: #FFFFFF;
}

.shadow-span {
    position: absolute;
    z-index: 1;
    opacity: 40%;
}

.text {
    font-family: Montserrat, serif;
    height: 20px;
}

.info-text {
    font-family: Montserrat, serif;
    height: 16px;
    font-weight: normal;
}

.button-text {
    font-family: Montserrat, serif;
    font-weight: bold;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.section-header-text {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: auto;

    .shadow-h {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: -10px;
        left: 35%;
        transform: translateX(-50%);
        color: transparent;
        font-size: 35px;
        white-space: nowrap;
        text-shadow: 5px -19px 8px #E6E3F7;
    }
}

.contact-title {
    font-family: Montserrat, serif;
    font-size: 24px;
    color: #48484848;
    font-weight: normal;
}

.text1 {
    color: black;
    font-family: Montserrat, serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
}

.href-text {
    color: $white;
}

.href-text:hover {
    color: $white;
    text-decoration: none;
}

.section-header-container {
    text-align: center;
}

@media (min-width: 360px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

}

@media (min-width: 768px) {
    h1 {
        font-size: 64px;
    }

    .section-header-text {
        font-size: 48px;
    }

    .section-header-text {
        .shadow-h {
            font-size: 60px;
            left: 35%;
        }
    }
}

@media (min-width: 992px) {

    .section-header-container {
        text-align: left;
    }

    h1 {
        font-size: 59px;
    }

    h2 {
        font-size: 42px;
    }

    .service-title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }
}
