h1 {
    font-family: HelveticaNeueCyr, cursive;
    font-weight: bold;
}

h2 {
    font-family: HelveticaNeueCyr, serif;
    font-weight: bold;
    font-size: 42px;
}

h3 {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 24px;
}

.button-text {
    font-family: Montserrat, serif;
    font-weight: bold;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

li {
    color: #FFFFFF;
}

@media (min-width: 360px) {
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 480px) {

}

@media (min-width: 720px) {
    h1 {
        font-size: 64px;
    }

}

@media (min-width: 1024px) {
    h1 {
        font-size: 72px;
    }
}
