.services-we-provide-header {
    text-align: center;
    margin-bottom: 40px;
}

.service-header-title {
    //text-shadow: 2px -20px 3px rgba(150, 150, 150, 0.59);
}

.service-header {
    margin-bottom: 40px;
}

.services-list-row {
    margin-left: 20px;
}

.mobile-dev-row-tablet {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.mobile-dev-row-all {
    display: flex;
}

.swp-circles{
    display: flex;
}

.swp-item {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.service-title {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 19px;
}

.services-description {
    display: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.swp-row {
    display: flex;
    align-items: center;
}

.swp-shadow-span {
    top: -18px;
    left: 5%;
}

@media (min-width: 720px) {
   .mobile-dev-row-tablet {
       display: block;
   }

    .mobile-dev-row-all {
        display: none;
    }

    .mobile-circle{
        display: none;
    }

    .swp-shadow-span {
        top: -18px;
        left: 2%;
    }

}

@media (min-width: 991px) {
    .mobile-dev-row-tablet {
        display: none;
    }

    .mobile-dev-row-all {
        display: block;
    }

    .swp-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .services-first-row {
        margin-bottom: 100px;
    }

    .services-description {
        display: flex;
    }

    .swp-row {
    }

    .two-row-title-text {
        margin-top: 35px;
    }

    .swp-shadow-span {
        left: 14%;
    }
}
